*{
    margin: 0;
    padding: 0;
}
:root{
    --mainColor: lightblue;
    --borderBig: 10px solid white;
    --borderSmall: 5px solid white;
}
body{
    position: relative;
    min-height: 100%;
    background-color: #161018;
}
/*Header*/
header{
    height: 150px;
    background-color: #161018;
}
header h1{
    font-size: 75px;
    width: fit-content;
    color: var(--mainColor);
    border-right: var(--borderBig);
    border-bottom: var(--borderBig);
    margin-left: 20px;
    margin-top: 20px;
}
.skyline{
    height: 600px;
    width: 100%;
    background-image: url("../images/skyline4.jfif");
    background-size:cover;
    background-position: 0% 30%;
    border-bottom: var(--borderBig)
}

nav{
    width: 100%;
    height: 75px;
    margin-top: 25px;
    border-bottom: var(--borderBig);
    text-align: center;
}
nav li{
    display: inline;
    
    color: var(--mainColor);
    font-size: 40px;
    margin-left: 40px;
    margin-right: 25px;
    border-bottom: var(--borderSmall);
    border-right: var(--borderSmall);
}
.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
/*aside*/
aside{
    max-width: 20%;
    height: 1000px;
    margin-top: 75px;
    margin-bottom: 75px;
    border-right: var(--borderBig);
    border-bottom: var(--borderBig);
    display: inline-block;
    color: var(--mainColor);
    
}
aside h1{
    float: left;
    font-size: 40px;
    color: var(--mainColor);
    border-bottom: var(--borderSmall);
    border-right: var(--borderSmall);
}
/*projects*/
.projects{
    height: 1000px;
    min-width: 70%;
    margin-top: 75px;
    margin-bottom: 75px;
    border-right: var(--borderBig);
    border-bottom: var(--borderBig);
}
.flexBoxes{
    height: 95%;
    min-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}
.projects h1{
    float:left;
    font-size: 40px;
    color: var(--mainColor);
    width: auto;
    height: 5%;
    border-right: var(--borderSmall);
    border-bottom: var(--borderSmall);
    margin-bottom: 25px;
}
.projects #smallBox img{
    height: 100%;
    width: 100%;
}
#bigBox{
    height: 45%;
    width: 93.333%;
    background-image: url(../images/laptop.jfif);
    background-position: center;
    background-size: cover;
    border-right: var(--borderBig);
    border-bottom: var(--borderBig);
}
#smallBox{
    height: 20%;
    width: 45%;
    border-right: var(--borderBig);
    border-bottom: var(--borderBig);
}
.project2{
    background-image: url(../images/hotdogs.jfif);
    background-size: cover;
    background-position: center;
}
.project3{
    background-image: url(../images/lambo.jfif);
    background-size: cover;
    background-position: 0% 60%;
}
.project4{
    background-image: url(../images/mcafe.jfif);
    background-size: cover;
    background-position: 0% 75%;
}
.project5{
    background-image: url(../images/model.jfif);
    background-size: cover;
    background-position: 0 75%;
}
/*contact*/
.contact{
    height: 200px;
    min-width: 95%;
    border-right: var(--borderBig);
    border-bottom: var(--borderBig); 
    margin-bottom: 75px;
}
.contact h1{
    color: var(--mainColor);
    font-size: 40px;
    width: fit-content;
    border-bottom: var(--borderSmall);
    border-right: var(--borderSmall);
}
.contact ul{
    float: right;
    
}
.contact li{
    display: inline;
    color: var(--mainColor);
}