*{
    margin: 0;
    padding: 0;
}
body{
    position: relative;
    min-height: 100%;
}
header{
    height: 400px;
    width: auto;
    background-image: url("./images/newyork.jpg");
    border: 2px solid red;
}

h1{
    color:blue;
}

Aside{
    width: 25%;
    height: 1000px;
    float: left;
    border: 2px solid red;
}
.projects{
    height: 1000px;
    width:75%;
    float: right;
    border: 2px solid red;
}
.contact{
    border: 2px solid red;
    width: 100%;
    clear: both;
    position: static;
}